*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}


header .container2{
    display: flex;
    align-items: center;
    align-content: right;


    padding: 15px;
    border-bottom: solid #7ed957 3px ;
} 

header .container2{

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
    

}

header .navegacao a{
    text-decoration: none;
    color:#7ed957;
    margin-right: 20px;
}


header .navegacao a:hover{
    color: rgb(0, 0, 0);

}


#consultoria h2{
    margin-top: 20px;
    text-align: center;
}

.planos-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.quadradinho{
    border: solid green 2px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: #7ed957;
    margin-top:80px;
    margin-bottom: 100px;
    padding: 25px;
    text-align: center;
    

}



footer{

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    background-color: #7ed957;
    padding-bottom: 15px;
   
}

footer .mycontainer{
    display: flex;
    align-items: center;
    flex-direction: column;
       
}


footer .midias {
    
    margin-bottom: 30px;

}

footer h2{

    border-bottom: solid white 10px;
    padding-bottom: 5px;
    
    

}